<table #table id="example" datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th><input type="text" placeholder="Search ID" name="search-id" /></th>
      <th>
        <input
          type="text"
          placeholder="Search first name"
          name="search-first-name"
        />
      </th>
      <th>
        <input
          type="text"
          placeholder="Search last name"
          name="search-last-name"
        />
      </th>
    </tr>
  </tfoot>
</table>
